{% extends 'base.html' %}

{% block content %}
<div class="container login">
    <div class="container-box" style="width:70vh; background-color: #a1ddc9; border-radius: 3em; box-shadow: 10px 5px 15px black; border: .5px solid white; margin: 10px; padding: 40px;">
    <div>
        <h1> {{project}} Project </h1>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="margin-top: 20px;">- Prject Name: {{project}}</h2>
        <h2 style="margin-top: 20px;">- Project description: <h3>{{project.description}}</h3></h2>
        <h2 style="margin-top: 20px;">- Start date: {{project.start_date}}</h2>
        <h2 style="margin-top: 20px;">- End date: {{project.end_date}}</h2>
        <h2 style="margin-top: 20px;">- Status {{project.status}}</h2>
        <h2 style="margin-top: 20px;">- Team Members: </h2>
        {% for team in project.team.all %}
            <ul>
                <li> <h3>{{team.name}}</h3></li>
            </ul>
            
        {% endfor %}
    </div>
    <div>
        <button class="btn btn-success m-1">
            <a class="text-black text-decoration-none" href="{% url 'project_update' project.id %}">Edit</a>
        </button>
        <button class="btn btn-danger m-1">
            <a class="text-black text-decoration-none" href="{% url 'project_delete' project.id %}">Delete</a>
        </button>
    </div>
</div>
</div>

{% endblock %}