{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="container-box">
    <div style="padding-top: 5vh;">
        <h1> Project Page </h1>
        <button class="button-74" role="button"><a href="{% url 'project_create' %}" class="text-decoration-none">Create +</a> </button>
         
        <form style="position: relative;" >
            <div class="input-group" style="margin-top: 20px;">
                <input type="search" name="name" placeholder="Project Name" class="form-control" style="background-color: #a1ddc9;  position: relative;" autocomplete="off" >
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" >Search</button>
                </div>
                <button class="btn btn-outline-secondary"><a href="{% url 'project_index' %}">Clear Search</a></button>
            </div>
        </form>
    </div>
    <div style="padding-top: 10vh;">
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Team Member</th>
                        <th scope="col">Project</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                            {% if project.status != "Complete" %}
                        <tr>
                            {% for team in project.team.all %}
                                <td class="d-flex">{{team.name}}</td>
                            {% endfor%}
                            <td><a href="{% url 'project_show' project.id %}">{{project.name}}</a></td>
                            <td>{{project.start_date}}</td>
                            <td>{{project.end_date}}</td>
                            <td>{{project.status}}</td>
                        </tr>
                            {% else %}
                            {% endif %}
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
</div>
</div>

{% endblock %}