{% extends 'base.html' %}


{% block content %}
<div class="container ms-3" style="max-width: 150vh">
    <div>
        <h1> Project Page </h1>
        <a href="{% url 'project_create' %}" class="">Create +</a>  
        <form >
                <input type="search" name="name" placeholder="Project Name"  autocomplete="off" class="form-control rounded">
                <button type="submit" class="input-group-text border-0">Search</button>
                <button class="input-group-text border-0"><a href="{% url 'project_index' %}">Clear Search</a></button>
        </form>
    </div>
    <div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Team Member</th>
                        <th scope="col">Project</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    {% if project.status != "Complete" %}
                    <tr>
                        {% for team in project.team.all %}
                        <td>{{team.name}}</td>
                        {% endfor%}
                        <td><a href="{% url 'project_show' project.id %}">{{project.name}}</a></td>
                        <td>{{project.start_date}}</td>
                        <td>{{project.end_date}}</td>
                        <td>{{project.status}}</td>
                    </tr>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
</div>

{% endblock %}