{% extends 'base.html' %}

{% block content %}
<div class="container login" >
    <div class="container-box" >
    <div>
        <h1> Update Team Page </h1>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success m-1" type="submit">Update Team Member</button>
            <button class="btn btn-danger m-1 "><a class="text-black text-decoration-none" href="{% url 'team_show' team.id %}">Cancel</a></button>
        </form>
    </div>
    </div>
</div>

{% endblock %}