{% extends 'base.html' %}

{% block content %}
<div class="container ms-3">
    <div>
        <h1> {{team}} Page </h1>
    </div>
    <div>
        <h2>{{team.name}}</h2>
        <h2>{{team.email}}</h2>
        <h2>{{team.title}}</h2>
        {% for project in team.project_set.all %}
            <h2>{{ project.name }}</h2>
        {% endfor %}
    </div>
    <div>
        <button>
            <a href="{% url 'team_update' team.id %}">Edit</a>
        </button>
        <button>
            <a href="{% url 'team_delete' team.id %}">Delete</a>
        </button>
    </div>
</div>

{% endblock %}