{% extends 'base.html' %}

{% block content %}
<div class="container ms-3">
    <div>
        <h1> Team Page </h1>
        <a href="{% url 'team_create' %}">Create +</a>
    </div>
    <div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team Member</th>
                        <th>Email</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td><a href="{% url 'team_show' team.id %}">{{team.name}}</a></td>
                        <td>{{team.email}}</td>
                        <td>{{team.title}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}