:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Chelsea Market', cursive;
}
body {
  /* overflow: hidden; */
}

/* .wrapper{
    display: flex;
    position: relative; 
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #4b4276;
    padding: 30px 0;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    display: block;
    text-decoration: none;
    color: white;
}

.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
}
.wrapper .sidebar ul li:hover a{
    color:#fff
} */

/* NEW NAVBAR LOOK  */

.wrapper {
  position: fixed;
  background-color: #4b4276;
  align-items: center;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: black;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms ease;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 1.5rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #23232e;
}

.nav-link:hover .link-text {
  color: white;
}

/* MAIN CONTENT CSS */

.main_content {
  margin-left: 5rem;
  max-width: 179.5vh;
  height: 100vh;
  margin-left: 50px;
  background-color: #b5c9c2;
  border: 1px solid brown;
  background-blend-mode: darken;
}

.main_content .header {
  padding: 50px;
  background-color: black;
  border-bottom: 1px solid #e0e4e8;
}
.main_content .info {
  margin: 20px;
  width: 100%;
}
.header:last-child{
    margin-top: auto;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 200vh;
  height: 80vh;
}
.container {
  /* border: 3px solid red; */
  width: 160vh;
  height: 80vh;
}

.container-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.icon {
    margin-top: auto;
  }
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 450px;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #9b9b9b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* Home Button */

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
  
}

.bn5:active:after {
  background: transparent;
  
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Small Screen */
@media only screen and (max-width: 600px) {
  .wrapper {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

/* Large Screen */
@media only screen and (min-width: 600px) {
  .wrapper {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .wrapper:hover {
    width: 16rem;
  }

  .wrapper:hover .link-text {
    display: inline;
    transition: opacity 600ms ease;
  }
}
